* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Europarl3.biltrans-enrtries.fra-spa -text
/Europarl3.lex.fra-spa -text
/Europarl3.ngrams.fra-spa.lrx -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-fra-spa.spa-fra.eco.lrx -text
/apertium-fra-spa.spa-fra.lrx -text
/apertium-fra-spa.spa-fra.t1x -text
/apertium-fra-spa.spa-fra.t2x -text
/apertium-fra-spa.spa-fra.t3x -text
/apertium-fra-spa.spa.acx -text
/apertium-fra-spa.spa.dix -text
/apertium-fra-spa.spa.tsx -text
/apertium-fra-spa.fra-spa.dix -text
/apertium-fra-spa.fra-spa.eco.lrx -text
/apertium-fra-spa.fra-spa.lrx -text
/apertium-fra-spa.fra-spa.t1x -text
/apertium-fra-spa.fra-spa.t2x -text
/apertium-fra-spa.fra-spa.t3x -text
/apertium-fra-spa.fra.acx -text
/apertium-fra-spa.fra.metadix -text
/apertium-fra-spa.fra.tsx -text
/apertium-fra-spa.post-spa.dix -text
/apertium-fra-spa.post-fra.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/Europarl3.biltrans-enrtries.fra-spa -text
dev/Europarl3.lex.fra-spa -text
dev/Europarl3.ngrams.fra-spa.lrx -text
dev/fixy.pl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/testvoc-summary.spa-fra.txt -text
dev/testvoc-summary.fra-spa.txt -text
dev/testvoc.sh -text
/spa-fra-supervised.make -text
/spa-fra-unsupervised.make -text
/spa-fra.prob -text svneol=unset#unset
spa-tagger-data/README -text
/fra-spa-supervised.make -text
/fra-spa-unsupervised.make -text
/fra-spa.prob -text
fra-tagger-data/README -text
/modes.xml -text
/principal.xsl -text
/testvoc-apertium2-utf -text
/translate-to-default-equivalent.xsl -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
